/* container */
.container {
  max-width: 130rem;
  padding: 6.4rem 4.8rem 4.8rem 4.8rem;
  margin: 0 auto;
}
.table-container {
  max-width: 60rem;
  margin: 4.8rem auto;
  /* padding: 4.8rem 3.2rem; */
}

.hidden {
  display: none;
}

/* heading */
.primary-heading,
.secondary-heading {
  color: #04251b;
  line-height: 1.1;
  text-align: center;
}
.primary-heading {
  margin-bottom: 4.8rem;
  font-size: 6.4rem;
  text-transform: uppercase;
  font-weight: 700;
}

.secondary-heading {
  margin-top: 3rem;
  font-size: 4.4rem;
  color: rgba(4, 37, 27, 0.942);
}

/* BUTTON */
.btn {
  border: none;
  background: none;
  border-radius: 1rem;
  padding: 1.2rem 2.4rem;
  background-color: #095c43;
  font-size: 2rem;
  font-family: inherit;
  line-height: 1.5;
  color: #eee;
  cursor: pointer;
}

/* CARD */
.card {
  box-shadow: 0 3.2rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
}

.card-header {
  height: 25rem;
  background-size: cover;
  background-position: center;
  padding-top: 9.6rem;
}

/* TABLE */
table {
  /* padding: 1rem; */
  width: 100%;
  text-align: left;
  line-height: 1.3;
  font-size: 2rem;
  border-collapse: collapse;
  color: #111;
  background: #d0f1e7;
}
th {
  padding: 1.6rem 2.4rem;
}
td {
  padding: 1rem 1.2rem;
}
th {
  font-size: 2.4rem;
  font-weight: 700;
}

tbody tr:nth-child(odd) {
  background-color: #e7f8f3;
}

thead tr {
  background: linear-gradient(
    to bottom,
    rgba(231, 248, 243, 0.981),
    10%,
    #095c43
  );
  color: #fff;
}
